.ancillary-cont{
    margin: 2rem 0 0 0;
    padding: 0 1rem;
    .prd-cont{
        width: 22%;
        margin: 1% 0.5%;
        .thumb{
            width: 40%;
        }
        .title{
            min-height: 90px;
            padding: 1rem 0;
        }
        .cta{
            margin: 2rem 0 0 0;
        }
    }
}