.main-header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba($black, 0.75);
    transition: $base-transition;
    z-index: 99999;
    &.solid{
        background: #0B0B0B;
        transform: translateY(calc(-36px));
        .logo{
            padding:1rem 2rem;
        }
    }
    &.black{
        background: #0B0B0B;
    }
    &.nav-up{
        transform: translateY(-100%);
    }
    &.ham-active{
        .hamburger{
            position: relative;
            top: -1.5rem;
            ul{
                li{
                    background: $grey !important;
                }
            }
        }
    }
    .top-cont{
        width: 100%;
        margin: 0px;
        padding: 0px;
        background: $black;
        color: $white;
        .wrap{
            width: 95%;
            margin: 0px auto;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mobile{
                width: 100%;
            }
            .left{
                width: 25%;
                margin: 0px;
                padding: 0px;
                ul{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    li{
                        margin: 0px;
                        padding: 0;
                        font-size: 0.9rem;
                        font-weight: 600;
                        a{
                            color: $white;
                            text-decoration: none;
                            padding: 0.5rem 1rem;
                            display: block;
                            transition: $base-transition;
                            &.active{
                                background: rgba($gold, $alpha: 0.8)
                            }
                            &:hover{
                                background: rgba($gold, $alpha: 0.8)
                            }
                        }

                    }
                }
            }
            .right{
                width: 75%;
                margin: 0px;
                padding: 0px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @include mobile{
                    display: none;
                }
                .nav{
                    width: auto;
                    margin: 0px;
                    padding: 0px;
                    ul{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        li{
                            margin: 0px;
                            padding: 0 1rem;
                            font-size: 0.8rem;
                            font-weight: 500;
                            a{
                                color: $white;
                                transition: $base-transition;
                                text-decoration: none;
                                img{
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: 0.1rem;
                                    width: 10px;
                                }
                                &:hover{
                                    color: rgba($white, $alpha: 0.8);
                                }
                            }
                        }
                    }
                }
                .social-icons{
                    width: auto;
                    margin: 0px;
                    padding: 0px;
                    ul{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        li{
                            margin: 0px;
                            padding: 0px 0.5rem;
                            a{
                                color: $black;
                                margin: 0px;
                                text-decoration: none;
                                width: 15px;
                                height: 15px;
                                background: $white;
                                display: block;
                                line-height: 17px;
                                font-size: 0.6rem;
                                text-align: center;
                                border-radius: 50px;
                                transition: $base-transition;
                                &:hover{
                                    background: rgba($white, $alpha: 0.8);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btm-cont{
        width: 100%;
        .wrap{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                width: 15%;
                background: #fff;
                padding:1.5rem 2.2rem;
                img{
                    width: 100%;
                }
                @include mobile{
                    width: 40%;
                    padding: 1rem;
                }
            }
            .hamburger{
                width: 30px;
                display: none;
                margin-right: 1.5rem;
                @include mobile{
                    display: block;
                    position: relative;
                    z-index: 99999;
                }
                &.disable-action{
                    pointer-events: none;
                }
                ul{
                    li{
                        height: 2px;
                        margin: 7px 0 0 0;
                        background: $white;
                    }
                }
            }
            .mobile-menu{
                display: none;
                @include mobile{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 60%;
                }
                .search-icon{
                    width: 1.375rem;
                    margin: 0.5rem 2rem 0 0;
                    img{
                        width: 100%;
                    }
                    .search-holder{
                        display: none;
                        position: absolute;
                        left: 0px;
                        top: 100%;
                        width: 100%;
                        background: $white;
                        transition: $base-transition;
                        &.active{
                            display: block;
                        }
                        .close-icon{
                            width: 20px;
                            margin: 0px;
                            padding: 0px;
                            position: absolute;
                            right: 1rem;
                            top: 0px;
                            z-index: 999;
                            font-size: 2rem;
                            line-height: 1;
                            color: $light-black;
                        }
                        .search-wrap{
                            width: 100%;
                            position: relative;
                            z-index: 99;
                            background: $white;
                            
                            .input-text{
                                border: 0;
                                border-bottom: rgba($black, $alpha: 0.9) solid 1px;
                                padding:0.8rem 1rem 0.8rem 1rem;
                                outline: 0;
                                background: transparent;
                                color: rgba($black, $alpha: 0.9);
                                width: 100%;
                                font-size: 0.875rem;
                                &::placeholder{
                                    opacity: 0.5;
                                    color: $white;
                                }
                                @include mobile{
                                    padding-right: 30px;
                                }
                            }
                            
                            
                            .popular-search{
                                width: 100%;
                                background: $white;
                                color: $black;
                                padding: 1rem 0;
                                z-index: 8;
                                h3{
                                    font-size: 1.25rem;
                                    margin: 0px;
                                    padding: 0px 1rem; 
                                    color: $black;
                                    font-weight: 600;
                                }
                                ul{
                                    li{
                                        width: 100%;
                                        margin: 0px;
                                        padding: 1rem;
                                        border-bottom: 1px solid rgba($black, $alpha: 0.7);
                                        font-size: 1rem;
                                        color: $light-black;
                                        &:last-child{
                                            border-bottom: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
                .call-icon{
                    width: 1.375rem;
                    margin: 0.5rem 2rem 0 0;
                    img{
                        width: 100%;
                    }
                }

            }
            .main-menu{
                width: 60%;
                margin: 0px auto;
                padding: 0px;
                @include mobile{
                    transform: translateX(100%);
                    position: fixed;
                    left: 0px;
                    top: 0;
                    margin: 0px;
                    padding: 0px;
                    background: $white;
                    width: 100%;
                    transition: $base-transition;
                    &.active{
                        transform: translateX(0);
                        height: 100vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: stretch;
                    }
                }
                .search-wrap{
                    width: 100%;
                    position: relative;
                    @include mobile{
                        display: none;
                    }
                    .input-text{
                        border: 0;
                        border-bottom: rgba($white, $alpha: 0.9) solid 1px;
                        padding:0.5rem;
                        outline: 0;
                        background: transparent;
                        color: rgba($white, $alpha: 0.9);
                        width: 100%;
                        font-size: 0.9rem;
                        font-weight: 600;
                        &::placeholder{
                            opacity: 0.9;
                            color: $white;
                        }
                        &:focus{
                            background: $white;
                            color: $black;
                            border-bottom: rgba($black, $alpha: 0.9) solid 1px;
                            position: relative;
                            z-index: 9;
                            &::placeholder{
                                opacity: 0.9;
                                color: $black;
                            }
                        }
                        &:focus + .submit-button{
                            svg{
                                path{
                                    fill: $black;
                                }
                            }
                        }
                        @include mobile{
                            padding-right: 30px;
                        }
                    }
                    
                    .submit-button{
                        width: auto;
                        position: absolute;
                        right: 0.7rem;
                        top: 50%;
                        transform: translate(0,-50%);
                        display: flex;
                        background: transparent;
                        border: 0;
                        cursor: pointer;
                        color: $white;
                        align-items: center;
                        font-size: 0.9rem;
                        z-index: 9;
                        @include mobile{
                            width: 20px;
                        }
                        .label{
                            @include mobile{
                                display: none;
                            }
                        }
                        svg{
                            width: 100%;
                            path{
                                fill: $white;
                            }
                        }
                    }
                    .popular-search{
                        width: 100%;
                        background: $white;
                        color: $black;
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 0rem;
                        padding: 3rem 1rem 1rem 1rem;
                        z-index: 8;
                        h3{
                            font-size: 1.25rem;
                            margin: 0px;
                            padding: 0px;
                            color: $black;
                            font-weight: 600;
                        }
                        ul{
                            li{
                                width: 100%;
                                margin: 0px;
                                padding: 1rem 0;
                                border-bottom: 1px solid rgba($black, $alpha: 0.7);
                                font-size: 1rem;
                                color: $light-black;
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
                .menu{
                    width: 100%;
                    padding-top: 0.7rem;
                    @include mobile{
                        padding: 4rem 2rem 0 2rem;
                    }
                    ul{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @include mobile{
                            flex-direction: column;
                        }
                        li{
                            margin: 0px;
                            padding: 0px;
                            font-size: 1rem;
                            font-weight: 600;
                            @include mobile{
                                font-size: 1rem;
                                font-weight: 600;
                                width: 100%;
                                font-size: 1.1rem;
                            }
                           > a{
                                color: $white;
                                text-decoration: none;
                                transition: $base-transition;
                                padding-bottom: 0.6rem;
                                @include mobile{
                                    color: $black;
                                    display: block;
                                    border-bottom: 1px solid $grey;
                                    position: relative;
                                    padding: 1rem 0;
                                }
                                
                            }
                            &.has-child{
                                a{
                                    &::before{
                                        @include mobile{
                                            content: "";
                                            position: absolute;
                                            right: calc(1rem - 6.5px);
                                            top: 50%;
                                            transform: translateY(-50%);
                                            width: 15px;
                                            height: 2px;
                                            background: $black;
                                        }
                                    }
                                    &::after{
                                        @include mobile{
                                            content: "";
                                            position: absolute;
                                            right: 1rem;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            width: 2px;
                                            height: 15px;
                                            background: $black;
                                        }
                                    }
                                }
                                .mega-menu{
                                    position: absolute;
                                    padding: 2rem 0;
                                    left: 0;
                                    top: 100%;
                                    width: 100%;
                                    opacity: 0;
                                    pointer-events: none;
                                    background: rgba($white, $alpha: 0.9);
                                    z-index: -1;
                                    &::before{
                                        @include desktop{
                                            content: "";
                                            position: absolute;
                                            width: 100%;
                                            height: 8px;
                                            background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 70%);
                                            left: 0;
                                            top: 0;
                                            z-index: -1;
                                        }
                                    }
                                    @include desktop{
                                        transition: $base-transition;
                                    }
                                    transform: translate(0, 0.5rem);
                                    @include mobile{
                                        padding: 0;
                                        width: 100%;
                                        position: relative;
                                        top: auto;
                                        opacity: 1;
                                        transform: none;
                                        pointer-events: all;
                                        display: none;
                                    }
                                    .wrap{
                                        display: flex;
                                        align-items: flex-start;
                                        justify-content: space-between;
                                        max-width: 1200px;
                                        margin: 0px auto;
                                        padding: 1rem 0;
                                        @include mobile{
                                            padding: 0;
                                            flex-direction: column;
                                            width: 100%;
                                        }
                                        .sub-nav-wrap{
                                            width: 200px;
                                            margin: 0px 20px;
                                            @include mobile{
                                                width: 95%;
                                                margin:0rem 0 0 1rem;
                                                padding: 0.8rem 0;
                                                border-bottom: 1px solid $accent-grey;
                                            }
                                            h3{
                                                font-size: 1rem;
                                                color: $black;
                                                margin-bottom: 0.7rem;
                                                @include mobile{
                                                    font-size: 1rem;
                                                    font-weight: 500;
                                                    margin-bottom: 0;
                                                    color: $accent-grey;
                                                }
                                            }
                                            ul{
                                                display: flex;
                                                flex-wrap: wrap;
                                                li{
                                                    width: 100%;
                                                    margin-bottom: 0.6rem;
                                                    font-size: 0.95rem;
                                                    font-weight: 400;
                                                    @include mobile{
                                                        margin: 0;
                                                        font-size: 1rem;
                                                        display: none;


                                                    }
                                                    &:first-child{
                                                        @include mobile{
                                                            border-top: rgba($white, 0.3) solid 1px;
                                                        }
                                                    }
                                                    a{
                                                        text-decoration: none;
                                                        color: $black;
                                                        display: block;
                                                        transition: $base-transition;
                                                        padding-bottom: 0;
                                                        @include mobile{
                                                            padding: 20px;
                                                            color: $accent-grey;
                                                        }
                                                        &:hover{
                                                            color: rgba($black, $alpha: 0.8);
                                                            border-bottom: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                                &:hover ~ .menu-bg-overlay{
                                    @include desktop{
                                        opacity: 1;
                                        transform: translate(0, 0);
                                    }
                                }
                            }
                            &.active{
                                a{
                                    &::after{
                                        @include mobile{
                                            display: none;
                                        }
                                    } 
                                }
                                
                            }
                            &:hover{
                                > a{
                                    @include desktop{
                                        border-bottom: 3px solid $white;
                                    }
                                   
                                   
                                }
                                .mega-menu{
                                    opacity: 1;
                                    pointer-events: all;
                                    transform: translate(0,0);
                                }
                            }
                        }
                    }
                }
                .mobile-bottom-links{
                    display: none;
                    @include mobile{
                        display: block;
                        width: 100%;
                        background: $light;
                        padding: 2rem;
                        margin-top: 1rem;
                        ul{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-direction: column;
                            li{
                                width: 100%;
                                margin: 0px;
                                padding: 0.5rem 0;
                                font-size: 1rem;
                                a{
                                    display: block;
                                    text-align: left;
                                    color: #707070;
                                    text-decoration: none;

                                }
                                
                            }
                            &.social{
                                flex-direction: row;
                                li{
                                    width: 100%;
                                    margin: 0px 0.5rem 0 0;
                                    padding: 0.5rem 0 0 0;
                                    a{
                                        width: 24px;
                                        height: 24px;
                                        line-height: 24px;
                                        background: $accent-grey;
                                        color: $white;
                                        border-radius: 50px;
                                        text-align: center;
                                        font-size: 0.8rem;
                                    }
                                }
                            }
                        }
                        
                    }
                }
                .mobile-login-cta{
                    display: none;
                    @include mobile{
                        width: 100%;
                        margin: 0px;
                        padding: 0rem 0 0 0;
                        display: block;
                    }
                    
                    a{
                        display: block;
                        padding: 1rem 2rem;
                        background: $accent-blue;
                        color: $white;
                        text-decoration: none;
                    }
                }
                
            }
            .right-widgets{
                width: 12%;
                margin: 0 3% 0 0;
                @include mobile{
                    display: none;
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        font-size: 0.9rem;
                        color: $white;
                        font-weight: 500;
                        a{
                            color: $white;
                            text-decoration: none;
                            transition: $base-transition;
                            .icon{
                                width: 1.4rem;
                                margin-left: 0.3rem;
                                display: inline-block;
                                vertical-align: middle;
                                
                                svg{
                                    width: 100%;
                                    path{
                                        transition: $base-transition;
                                    }
                                }
                            }
                            &:hover{
                                color: $gold;
                            }
                            &:hover svg path{
                                fill: $gold;
                            }
                        }
                    }
                }
            }
        }
    }
   
}