.like{
    label {
        display: flex;
        align-items: center;
      }
      
      svg {
        cursor: pointer;
        overflow: visible;
        width: 45px;
        border-radius: 50%;
        padding: 2px;
        transition: .2s ease;
        
        &:hover {
            .heart {
                stroke: #e0245e;
                
              }
          }
          &:active {
            background: rgba(224, 36, 94, 0.2);
          }
          .heart {
            transform-origin: center;
            fill: transparent;
            stroke: #e0245e;
            stroke-width: 2px;
            transition: .2s ease;
            &.dark{
              stroke: $black;
            }
          }
          .circle {
            transform-origin: 29.5px 29.5px;
          }
      }
      
      
      .checkbox {
        display: none;
        &:checked + label svg .heart {
            transform: scale(0);
            fill: #e0245e;
            stroke: #e0245e;
            animation: heart 0.25s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          }
          &:checked + label svg .circle {
            animation: circle .25s forwards;
          }
          &:checked + label svg .grp1 {
            opacity: 1;
            transition: 0.1s 0.2s;
          }
          &:checked + label svg .grp1 .oval1 {
            transform: scale(0) translate(0, -30px);
            transform-origin: 0 0 0;
            transition: 0.2s transform 0.2s;
          }
          &:checked + label svg .grp1 .oval2 {
            transform: scale(0) translate(10px, -50px);
            transform-origin: 0 0 0;
            transition: 1.2s transform 0.2s;
          }
          &:checked + label svg .grp2 {
            opacity: 1;
            transition: 0.1s 0.2s;
          }
          &:checked + label svg .grp2 .oval1 {
            transform: scale(0) translate(30px, -15px);
            transform-origin: 0 0 0;
            transition: 0.2s transform 0.2s;
          }
          &:checked + label svg .grp2 .oval2 {
            transform: scale(0) translate(60px, -15px);
            transform-origin: 0 0 0;
            transition: 1.2s transform 0.2s;
          }
          &:checked + label svg .grp3 {
            opacity: 1;
            transition: 0.1s 0.2s;
          }
          &:checked + label svg .grp3 .oval1 {
            transform: scale(0) translate(30px, 0px);
            transform-origin: 0 0 0;
            transition: 0.2s transform 0.2s;
          }
          &:checked + label svg .grp3 .oval2 {
            transform: scale(0) translate(60px, 10px);
            transform-origin: 0 0 0;
            transition: 1.2s transform 0.2s;
          }
          &:checked + label svg .grp4 {
            opacity: 1;
            transition: 0.1s 0.2s;
          }
          &:checked + label svg .grp4 .oval1 {
            transform: scale(0) translate(30px, 15px);
            transform-origin: 0 0 0;
            transition: 0.2s transform 0.2s;
          }
          &:checked + label svg .grp4 .oval2 {
            transform: scale(0) translate(40px, 50px);
            transform-origin: 0 0 0;
            transition: 1.2s transform 0.2s;
          }
          &:checked + label svg .grp5 {
            opacity: 1;
            transition: 0.2s all 0.2s;
          }
          &:checked + label svg .grp5 .oval1 {
            transform: scale(0) translate(-10px, 20px);
            transform-origin: 0 0 0;
            transition: 0.2s transform 0.2s;
          }
          &:checked + label svg .grp5 .oval2 {
            transform: scale(0) translate(-60px, 30px);
            transform-origin: 0 0 0;
            transition: 1.2s transform 0.2s;
          }
          &:checked + label svg .grp6 {
            opacity: 1;
            transition: 0.2s 0.2s;
          }
          &:checked + label svg .grp6 .oval1 {
            transform: scale(0) translate(-30px, 0px);
            transform-origin: 0 0 0;
            transition: 0.2s transform 0.2s;
          }
          &:checked + label svg .grp6 .oval2 {
            transform: scale(0) translate(-60px, -5px);
            transform-origin: 0 0 0;
            transition: 1.2s transform 0.2s;
          }
          &:checked + label svg .grp7 {
            opacity: 1;
            transition: 0.2s 0.2s;
          }
          &:checked + label svg .grp7 .oval1 {
            transform: scale(0) translate(-30px, -15px);
            transform-origin: 0 0 0;
            transition: 0.2s transform 0.2s;
          }
          &:checked + label svg .grp7 .oval2 {
            transform: scale(0) translate(-55px, -30px);
            transform-origin: 0 0 0;
            transition: 1.2s transform 0.2s;
          }
          &:checked + label svg .grp2 {
            opacity: 1;
            transition: 0.2s opacity 0.2s;
          }
          &:checked + label svg .grp3 {
            opacity: 1;
            transition: 0.2s opacity 0.2s;
          }
          &:checked + label svg .grp4 {
            opacity: 1;
            transition: 0.2s opacity 0.2s;
          }
          &:checked + label svg .grp5 {
            opacity: 1;
            transition: 0.2s opacity 0.2s;
          }
          &:checked + label svg .grp6 {
            opacity: 1;
            transition: 0.2s opacity 0.2s;
          }
          &:checked + label svg .grp7 {
            opacity: 1;
            transition: 0.2s opacity 0.2s;
          }
      }
      
      
      
      @keyframes circle {
        from {
          transform: scale(0) translateY(-0.05px);
          stroke-width: 3px;
        }
        50% {
          transform: scale(6) translateY(-0.05px);
          stroke-width: 3px;
        }
        to {
          transform: scale(15) translateY(-0.05px);
          stroke-width: 0;
        }
      }
      @keyframes heart {
        from {
          transform: scale(0.2);
        }
        to {
          transform: scale(1);
        }
      }
}
